
.comment-content {
  border: 1px;
  font-size: 36px;
}

.comment-single {
  border-bottom: double grey;
}

.comment-status {
  background-color: #337ab7;
  font-size: 26px;
  color: white;
  border-radius: 3px;
}
