
<div class="container">
    <% @posts.in_groups_of(3).each do |group| %>
    <div class="row justify-content-md-center">
      <% group.each do |post| %>
      <div class="col-md-3 indeximage">
        <%=link_to (image_tag post.image, width: 300), post_path(post) unless post.nil? %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
