
<div class="container">
    <% @posts.in_groups_of(3).each do |group| %>
    <div class="row justify-content-md-center">
      <% group.each do |post| %>
      <div class="col-md-4 indeximage" id="grid-container">
          <img class = "img-square"><%=link_to (image_tag post.image, size: "300x300", :weight => "center"), post_path(post) unless post.nil? %></img>
        <div class="image-caption">
          <%= post.user.user_name unless post.nil? %>
          <%= post.caption unless post.nil? %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
