 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .posts-form {
   font-size: 16px;
 }


 .input-group-addon {
    background-color: white;
}

// Remove bullet points from navbar items
 .nav-item {
    list-style-type: none;
}

.navbar {
    border-bottom: 1px solid grey;
}

// Size of the logo on navbar
 .navbar-brand,
 .nav-icon {
    font-size: 32px;
    margin-left: 5%;
}

 .nav-search {
    margin-left: 30%;
    margin-top: 15px;
    // width: 200px;
    // display: inline-block;
    // justify-content: center;
    // flex-wrap: wrap;
    // text-align: center;
    // padding: 0;
}

.navbar-right {
  margin-right: 5%;
}

.form-control {
  border-left: none;
}

#basic-addon1 {
  border-right: none;
}




.button-like,
.delete-button {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

.comment-content {
  border: 1px;
  font-size: 36px;
}

.comment-single {
  border-bottom: double grey;
}

.comment-status {
  background-color: #337ab7;
  font-size: 26px;
  color: white;
  border-radius: 3px;
}
