 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .posts-form {
   font-size: 16px;
 }


 .input-group-addon {
    background-color: white;
}

// Remove bullet points from navbar items
 .nav-item {
    list-style-type: none;
}

.navbar {
    border-bottom: 1px solid grey;
}

// Size of the logo on navbar
 .navbar-brand,
 .nav-icon {
    font-size: 32px;
    margin-left: 5%;
}

 .nav-search {
    margin-left: 30%;
    margin-top: 15px;
    // width: 200px;
    // display: inline-block;
    // justify-content: center;
    // flex-wrap: wrap;
    // text-align: center;
    // padding: 0;
}

.navbar-right {
  margin-right: 5%;
}

.form-control {
  border-left: none;
}

#basic-addon1 {
  border-right: none;
}




.button-like,
.delete-button {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

.comment-content {
  border: 1px;
  font-size: 36px;
}

.comment-single {
  border-bottom: double grey;
}

.comment-status {
  background-color: #337ab7;
  font-size: 26px;
  color: white;
  border-radius: 3px;
}

// .post-image,
// .comment-single {
//   display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 50%;
// }
img {
  object-fit: cover;
}

#grid-container {
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}


.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"]{
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

label{
  width: 4em;
  float: center;
  // text-align: right;
  margin-right: 0.5em;
  display: block
}
 // input{
 //   height: 45px;
 // 	border: 1px solid #ddd;
 // 	font-size: 16px;
 // 	-webkit-transition: all 0.1s linear;
 // 	-moz-transition: all 0.1s linear;
 // 	transition: all 0.1s linear;
 // }
div.user_remember_me{
   // height: 45px;
   // border: 1px solid #ddd;
   // font-size: 16px;
   // -webkit-transition: all 0.1s linear;
   // -moz-transition: all 0.1s linear;
   // transition: all 0.1s linear;
   display: inline-block;
 }
